<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>space</key>
	<string>space.glif</string>
	<key>uniE900</key>
	<string>uniE_900.glif</string>
	<key>uniE901</key>
	<string>uniE_901.glif</string>
	<key>uniE902</key>
	<string>uniE_902.glif</string>
	<key>uniE903</key>
	<string>uniE_903.glif</string>
	<key>uniE904</key>
	<string>uniE_904.glif</string>
	<key>uniE905</key>
	<string>uniE_905.glif</string>
	<key>uniE906</key>
	<string>uniE_906.glif</string>
	<key>uniE907</key>
	<string>uniE_907.glif</string>
	<key>uniE908</key>
	<string>uniE_908.glif</string>
	<key>uniE909</key>
	<string>uniE_909.glif</string>
	<key>uniE950</key>
	<string>uniE_950.glif</string>
	<key>uniE951</key>
	<string>uniE_951.glif</string>
	<key>uniE952</key>
	<string>uniE_952.glif</string>
	<key>uniE953</key>
	<string>uniE_953.glif</string>
	<key>uniE954</key>
	<string>uniE_954.glif</string>
	<key>uniE955</key>
	<string>uniE_955.glif</string>
	<key>uniE956</key>
	<string>uniE_956.glif</string>
	<key>uniE957</key>
	<string>uniE_957.glif</string>
	<key>uniE958</key>
	<string>uniE_958.glif</string>
	<key>uniE959</key>
	<string>uniE_959.glif</string>
	<key>uniE9A0</key>
	<string>uniE_9A_0.glif</string>
	<key>uniE9A1</key>
	<string>uniE_9A_1.glif</string>
	<key>uniE9A2</key>
	<string>uniE_9A_2.glif</string>
	<key>uniE9A3</key>
	<string>uniE_9A_3.glif</string>
	<key>uniE9A4</key>
	<string>uniE_9A_4.glif</string>
	<key>uniE9A5</key>
	<string>uniE_9A_5.glif</string>
	<key>uniE9A6</key>
	<string>uniE_9A_6.glif</string>
	<key>uniE9A7</key>
	<string>uniE_9A_7.glif</string>
	<key>uniE9A8</key>
	<string>uniE_9A_8.glif</string>
	<key>uniE9A9</key>
	<string>uniE_9A_9.glif</string>
</dict>
</plist>
